<div class="row">
  <div class="col-md-8 col-lg-8" >
    <!--https://stackoverflow.com/questions/45089816/angular-2-default-checked-on-checkbox-in-ngfor-->
    <ul class="list-group" *ngFor="let task of list">
      <li class="list-group-item">
        <h6>{{task.date}}</h6>
        <input type="checkbox" [(ngModel)]="task.isDone">
        <div class="task-title" [ngClass]="{'task-title-underline': task.isDone}">{{task.title}}</div>
        <div class="icon-block">
          <i class="fa fa-pencil pencil-icon" aria-hidden="true"></i>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
