.task-title {
  padding-left: 5px;
  display: inline;
}

.task-title-underline {
  text-decoration: line-through;
}

.icon-block {
  float: right;
  padding-right: 5px;
}

.editing-block {
  display: inline;
}

.pencil-icon {
  padding-right: 5px;
}

div+div {
  border-top: none;
}
