<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-8" >
      <pre>{{index}}</pre>
      <ul class="list-group" *ngFor="let task of list; let index = index">
        <li class="list-group-item" [routerLink]="['/list/'+id+'/task',task.id]">
          <h6>{{task.date| date:"dd/MM/yyyy" }}</h6>
          <input type="checkbox" [(ngModel)]="task.isDone">
          <div *ngIf="editting.id !== task.id" class="task-title" [ngClass]="{'task-title-underline': task.isDone}">
            {{task.title}}
          </div>
          <input *ngIf="editting.id === task.id" type="text" class="task-title" [(ngModel)]="task.title">
          <div class="icon-block">
            <div *ngIf="editting.id === task.id" class="editting-block">
              <i class="fa fa-check pointer" aria-hidden="true" (click)="applyChanges()"></i>
              <i class="fa fa-times pointer" aria-hidden="true" (click)="discardChanges()"></i>
            </div>
            <i *ngIf="editting.id !== task.id" class="fa fa-pencil pencil-icon pointer" aria-hidden="true"
               (click)="changeTask(task.id)"></i>
            <i class="fa fa-trash pointer" (click)="deleteTask(index)" aria-hidden="true"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
