<form [formGroup]="addTaskForm">
  <div class="input-group my-input">
    <input type="text" class="form-control" formControlName="title" placeholder="type task here..."
    [class.is-invalid]="addTaskForm.get('title').hasError('required') && addTaskForm.get('title').dirty">
    <!--<input type="text" class="form-control w-25" formControlName="date" bsDatepicker-->
           <!--[class.is-invalid]="addTaskForm.get('date').hasError('required')"-->
           <!--[minDate]="minDate" [maxDate]="maxDate" [bsConfig]="bsConfig">-->
    <!--<input class="form-control" placeholder="Select a date" ngx-mydatepicker name="myDate"-->
           <!--formControlName="myDate" [options]="myOptions" #dp="ngx-mydatepicker"/>-->
    <my-date-picker class="w-25" name="myDate" [options]="myOptions"
                    formControlName="myDate"></my-date-picker>
    <div class="input-group-btn">
      <button [disabled]="!addTaskForm.valid" class="btn btn-info pointer" (click)="addTask(addTaskForm.value)">Add task</button>
    </div>
  </div>
</form>

