<div class="container">
  <!--add task-->
  <div class="row mb-2">
    <div class="col-md-10 offset-md-2">
      <app-add-task></app-add-task>
    </div>
  </div>

  <div class="row">
    <!-- dates -->
    <div class="col-md-2 col-lg-2">
      <div class="mb-2">
        <a class="btn btn-success w-100"routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">
          All tasks
        </a>
      </div>
      <div class="mb-2" *ngFor="let date of dates">
        <a class="btn btn-success w-100"
          [routerLink]="['/']" routerLinkActive="active"  [queryParams]="{date: transformDate(date)}">
          {{date |  date:"dd/MM/yyyy"}}
        </a>
      </div>
    </div>
    <!-- tasks -->
    <div class="col-md-10 col-lg-10">
      <app-list></app-list>
    </div>
  </div>
</div>
